@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Dosis", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #fca311;
  background: linear-gradient(143deg, #fca311 0%, #c6973b 6%, #427aa1 100%);
}

.translator {
  height: 667px;
  width: 375px;
  background: #e8eff4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #427aa1;
  padding: 40px;
}
.translator h1 {
  padding-bottom: 40px;
  font-size: 2.5em;
  font-style: italic;
}
.translator .translator__tab {
  margin-right: auto;
  font-size: 25px;
}
.translator textarea {
  resize: none;
  width: calc(100% - 20px);
  min-height: 150px;
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  background: #fca311;
  color: #427aa1;
  padding: 10px;
  border-radius: 5px 50px 5px 50px;
}
.translator .btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.translator .button {
  display: inline-block;
  width: fit-content;
  margin: 20px;
  padding: 5px 15px;
  background: #f1f2f2;
  border-radius: 5px;
  color: #427aa1;
  font-size: 1.5em;
  border: 1px solid #14213D;
}
.translator .button:hover {
  cursor: pointer;
}
.translator .button:active {
  background: #FCA311;
}
.translator #playBtn {
  color: #4c9f42;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  position: relative;
  top: -60px;
  left: 300px;
  display: grid;
  place-items: center;
}
.translator #playBtn img {
  width: 100%;
  height: 100%;
}