@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
$primary-color: #427aa1;
$text-color: #427aa1;
$primary-background: #fca311;

* {
  padding: 0;
  margin: 0;
  font-family: "Dosis", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(252, 163, 17);
  background: linear-gradient(
    143deg,
    rgba(252, 163, 17, 1) 0%,
    rgba(198, 151, 59, 1) 6%,
    rgba(66, 122, 161, 1) 100%
  );
}

.translator {
  height: 667px;
  width: 375px;
  background: #e8eff4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: $primary-color;
  padding: 40px;

  h1 {
    padding-bottom: 40px;
    font-size: 2.5em;
    font-style: italic;
  }

  .translator__tab {
    margin-right: auto;
    font-size: 25px;
  }

  textarea {
    resize: none;
    width: calc(100% - 20px);
    min-height: 150px;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    background: $primary-background;
    color: $text-color;
    padding: 10px;
    border-radius: 5px 50px 5px 50px;
  }

  .btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .button {
    display: inline-block;
    width: fit-content;
    margin: 20px;
    padding: 5px 15px;
    background: #f1f2f2;
    border-radius: 5px;
    color: $text-color;
    font-size: 1.5em;
    border: 1px solid #14213D;

    &:hover {
      cursor: pointer;
    }
    &:active {
      background: #FCA311;
    }
  }

  #playBtn {
    color: #4c9f42;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    top: -60px;
    left: 300px;
    display: grid;
    place-items: center;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
